body{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto', sans-serif;

    background: #EEF9BF;
}  

.timer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    margin-top: 30px;
    margin-left: 90%;
    width: 40px;
    height: 25px;

    color: #75B79E;
    border: 2px solid #75B79E;
}
.title{
    width: 100%;
    height: 63px;

    margin-top: 40px;
}
.title h1{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    line-height: 66px;
    letter-spacing: -0.004em;
    
    color: #75B79E;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin-top: 130px;
    padding-bottom: 35px;
    width: 75%;
    gap: 34px 34px;
}


.card{
    width: 117px;
    height: 146px;
    position: relative;
}

img{
    width: 100px;
    height: 100px;
}
.card-layout{
    height: 100%;
    width: 100%;
    
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}


.back-face{
    background-image: url(/images/front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px; 
}

.front-face{
    display: flex;
    text-align: center;
    justify-content: center;

   transform: rotateY(180deg);
}

.card.picked  .front-face{
    transform: rotateY(0deg);
  }

.card.picked .back-face {
    transform: rotateY(-180deg);
  }

@media(max-width:370px){

body {
    gap: 47px 0px;
}
.timer{
    position: fixed;
    top: 50px;
    right: 10px;
}
.title{
    margin-top: 0px;
}
.title h1{
    display: flex;
    justify-content: center;
    align-items: center;
 
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    margin-top: 0px;
    padding-top: 47px;
    margin-bottom: 30px;
    width: 100%;
    gap: 34px 34px;

}

}